<img src="assets/logo.jpg" height="300px" class="center">
<br>
<div class="row">
    <div class="col-md-8">
        <p class="fs-5">Foody je jedna od vodećih aplikacija za poručivanje i dostavu hrane. Osnovana je 2015. godine.
            Nudi širok asortiman kvalitetnih jela.</p>
        <p class="fs-5">
            U ponudi imamo veliki izbor jela iz najpoznatijih restorana u gradu.
        </p>
        <p class="fs-5">
            Foody tim se sastoji od veoma iskusnog, kvalitetno obrazovanog i ljubaznog osoblja. Ponosimo se našim
            razlicitim kategorijama proizvoda i odličnom uslugom koju ćete dobiti od našeg tima. To je ono što nas
            izdvaja.
        </p>
    </div>
    <div class="col-md-4" style="background-color: #eef0ff;">
        <h3>Kontakt</h3>
        <ul>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                </svg> foody&#64;gmail.com</li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                </svg> +381 66 780 349
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                  </svg> Radnička 10, 21000 Novi Sad, Srbija
            </li>
        </ul>
        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
          </svg> Radno vreme</p>
          <ul>
              <li>Radnim danom: 08h-20h</li>
              <li>Subotom: 09h-15h</li>
          </ul>
    </div>
</div>